@import "../../styles/variables.sass";
@import "../../styles/mixins";

.Header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 2;
  transition: background-color 0.3s ease-in-out;

  box-sizing: $box-sizing;

  .HeaderContainer {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: $box-sizing;

    .Logo {
      margin: 0;
      padding: 0;

      @include text(
                      $textColor,
                      "Poppins",
                      normal,
                      35px,
                      900,
                      1.4,
                      0.2px
      );

      cursor: default;

      box-sizing: $box-sizing;
    }
  }
}
.Scroll {
  height: 100px;
  background-color: $bgColor;
  box-shadow: 0 5px 20px -6px rgba(255, 255, 255, 0.1);
}


