@import "variables";

@mixin text($color, $fontFamily, $fontStyle,  $fontSize, $fontWeight, $lineHeight, $letterSpacing) {
  color: $color;
  font-family: $fontFamily;
  font-style: $fontStyle;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin container() {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 200px 0 200px 0;
    @media (max-width: 1040px) {
      padding: 140px 0 140px 0;
      width: 90%;
    }
}


