.Nav {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Current {
    text-decoration: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.2px;
    cursor: pointer;
}