@import "../../assets/styles/variables.sass";
@import "../../assets/styles/mixins";

.Nav {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: $box-sizing;
  .Current {

    text-decoration: none;
    cursor: pointer;

    @include text(
                    $textColor,
                    $textSecond,
                    normal,
                    15px,
                    600,
                    1,
                    0.2px
    );

    box-sizing: $box-sizing;

    position: relative;

  }
  .Active {
    color: red;
  }


}
