.JobOptionsBlock {
    min-height: 40vh;
    background-color: darkkhaki;
    display: flex;
    align-items: center;
}

.JobOptionsContainer {
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
}

.Title {
    background-color: #eeeef5;
    text-align: center;
}

.Button {
    height: 40px;
    width: 140px;
    font-size: 16px;
}