.Container {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 0 200px 0;
}

@media (max-width: 1040px) {
    .Container {
        padding: 0 0 140px 0;
    }
}