.Container {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 200px 0 200px 0 ;
}

@media (max-width: 1040px) {
    .Container {
        padding: 140px 0 140px 0 ;
    }
}