.SkillsBlock {
    min-height: auto;
    background-color: #000;
}

.SkillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.Skills {
    padding-top: 105px;
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}
