.Skill {
    min-height: 130px;
    width: 310px;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 25px;
    cursor: e-resize;
}

.Icon {
    height: 60px;
    width: 60px;
}

.Text {
    flex-direction: column;
    width: 225px;
}

.Title {
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    line-height: 1.4;
    font-family: "Poppins", serif;
    letter-spacing: 0.2px;
    cursor: e-resize;
}

.Description {
    font-style: italic;
    color: #bbb;
    font-family: "Mulish", serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.2px;
    font-weight: 600;
}

