.Icons {
  height: 40px;

  &:hover {
    animation: bounce 0.6s 2;
    @keyframes bounce {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-15px);
      }
    }
  }
}