.MainBlock {
    height: 100vh;
    background-color: #ffd4f0;
}

.Container {
    gap: 55px;
}

.Text {
    width: 300px;
    background-color: #f7f7f7;
}

.Photo {
    width: 300px;
    height: 350px;
    background-color: aquamarine;
}