@import "../../assets/styles/variables.sass";
@import "../../assets/styles/mixins";

.Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 160px;
  transition: all .5s ease;

  @include text(
                  $bgColor,
                  $text,
                  italic,
                  15px,
                  400,
                  57px,
                  .8px
  );

  border: 2px solid $bgColor;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
  border-radius: 30px;
  box-sizing: $box-sizing;
  text-decoration: none;

  position: relative;

  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.1);

  &:hover {
    letter-spacing: 2px;
    border: 1px solid #fff;
    background-color: $bgColor;
    color: #fff;
    transition: all 0.3s ease-in-out 0s;
    width: 170px;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.29);
  }
  &:active {
    letter-spacing: 1px;
    background-color: $bgColor;
    color: #fff;
    transform: translateY(10px);
    transition: 100ms;
  }
}
