@import "../../styles/variables.sass";
@import "../../styles/mixins";

.Button {
  height: 60px;
  width: 160px;

  @include text(
                  $bgColor,
                  "Mulish",
                  italic,
                  15px,
                  400,
                  57px,
                  .8px
  );

  border: 2px solid $bgColor;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
  border-radius: 30px;
  box-sizing: $box-sizing;

  position: relative;

  &:hover {
    border: 2px solid #fff;
    background-color: $bgColor;
    color: #fff;
  }
}
