@import "../../styles/variables.sass";

.WorksBlock {
  min-height: auto;
  background-color: $bgColorSecond;

  box-sizing: $box-sizing;

  .WorksContainer {
    justify-content: flex-start;
    flex-direction: column;

    box-sizing: $box-sizing;

    .Works {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      padding-top: 105px;

      box-sizing: $box-sizing;
      @media (max-width: 1040px) {
        gap: 50px;
      }
    }
  }
}