@import "../../../styles/variables.sass";
@import "../../../styles/mixins";

.Work {
  border-radius: 5px;
  width: 355px;
  background-color: $bgColor;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: flex-start;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.1);

  box-sizing: $box-sizing;

  .ImgContainer {
    border-radius: 5px 5px 0 0;
    height: 275px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center;

    position: relative;

    box-sizing: $box-sizing;
  }

  .ImgContainer::before {
    content: "";
    position: absolute;
    background: $bgColor;
    opacity: 0.4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .WorkTitle {
    margin: 10% 7% 7% 10%;

    @include text(
                    $textColor,
                    "Poppins",
                    normal,
                    18px,
                    600,
                    1.4,
                    0.2px
    );

    box-sizing: $box-sizing;
  }

  .WorkDescription {
    margin: 0 10% 7% 10%;

    @include text(
                    $textColorSecond,
                    "Poppins",
                    italic,
                    15px,
                    400,
                    1.8,
                    0.2px
    );

    box-sizing: $box-sizing;
  }
}

