.MainBlock {
    min-height: 80vh;
    background-color: #000;
}

.Container {
    height: 100%;
    width: 100%;
}

.Text {
    position: absolute;
    top: 40%;
    left: 20%;
    z-index: 1;
}

.Title {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1.1;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.SecondTitle {
    color: #fff;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1.1;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.Description {
    color: #bbb;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.2px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    display: inline-block;
    padding-top: 20px;
    font-style: italic;
    box-sizing: border-box;

}

.Photo {
    width: 65%;
    height: 100%;
    background-color: aquamarine;
    position: absolute;
    right: 0;
}

@media (max-width: 1040px) {
    .Photo {
        width: 100%;
        height: 100%;
    }
    .Title {
        font-size: 60px;
    }
    .SecondTitle {
        font-size: 60px;
    }
}