@import "../../styles/variables.sass";
@import "../../styles/mixins";

.MainBlock {
  height: 100vh;
  background-color: $bgColor;
  display: flex;
  justify-content: flex-end;
  position: relative;

  box-sizing: $box-sizing;

  .Text {
    position: absolute;
    bottom: 35%;
    left: 20%;
    z-index: 1;

    box-sizing: $box-sizing;

    .Title {
      margin: 0;
      padding: 0;

      @include text(
                      transparent,
                      "Poppins",
                      normal,
                      80px,
                      900,
                      1.1,
                      0.5px
      );

      -webkit-text-stroke: 1px #fff;
      text-transform: uppercase;

      box-sizing: $box-sizing;

      .SecondTitle {
        margin: 0;
        padding: 0;

        @include text(
                        $textColor,
                        "Poppins",
                        normal,
                        80px,
                        900,
                        1.1,
                        0.5px
        );

        text-transform: uppercase;

        box-sizing: $box-sizing;

      }
    }

    .Description {

      padding-top: 20px;

      @include text(
                      $textColorSecond,
                      "Poppins",
                      italic,
                      15px,
                      600,
                      30px,
                      0.2px
      );

      display: inline-block;

      box-sizing: $box-sizing;

    }
  }

  .Photo {
    width: 65%;
    vertical-align: middle;
    object-fit: cover;
    box-sizing: $box-sizing;
  }

  @media (max-width: 1040px) {
    .Text {
      left: 10%;
      bottom: 15%;
      .Title {
        font-size: 60px;

        .SecondTitle {
          font-size: 60px;
        }
      }
    }
    .Photo {
      width: 100%;
      object-position: 65% 0;
    }
  }
}





