.Footer {
    min-height: 240px;
    background-color: #111;;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.FooterWrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.TextContainer {
    display: flex;
    flex-direction: column;
}

.Title {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.Container {
    border: 1px solid gray;
    width: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.Info {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-decoration: none;

}

.Copyright {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

@media (max-width: 1040px) {
    .Footer {
        padding: 50px 0 50px 0;
    }
    .Container {
        width: 100%;
    }
    .FooterWrapper {
        gap: 25px;
    }
    .TextContainer {
        width: 200px;
    }
}