.BurgerNavItems {
    background-color: blueviolet;
    position: absolute;
    top: 80px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translate(0, -330px);
    transition: 0.7s;
    z-index: 0;
    justify-content: center;
    gap: 0;
    color: transparent;
    height: 250px;
}

.Show {
    border-top: solid red;
    transform: translate(0, 0px);
    color: white;
    gap: 20px;
    height: 350px;
}


.Current {
    font-size: 20px;
}